node-red-flows/flows.json
[
    {
        "id": "query-flow",
        "type": "tab",
        "label": "VictoriaMetrics Query",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "query-inject",
        "type": "inject",
        "z": "query-flow",
        "name": "Query Data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "query-function"
            ]
        ]
    },
    {
        "id": "query-function",
        "type": "function",
        "z": "query-flow",
        "name": "Prepare Query",
        "func": "// Get current time and 1 hour ago in Unix timestamp\nconst now = Math.floor(Date.now() / 1000);\nconst oneHourAgo = now - 3600;\n\n// Create query parameters\nmsg.url = `http://plantomio.local:8428/api/v1/query?query=temperature{device=\"plt-404cca470da0\"}&start=${oneHourAgo}&end=${now}`;\n\nreturn msg;",
        "outputs": 1,
        "x": 300,
        "y": 120,
        "wires": [
            [
                "query-request"
            ]
        ]
    },
    {
        "id": "query-request",
        "type": "http request",
        "z": "query-flow",
        "name": "Query VictoriaMetrics",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 120,
        "wires": [
            [
                "query-debug"
            ]
        ]
    },
    {
        "id": "query-debug",
        "type": "debug",
        "z": "query-flow",
        "name": "Display Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 120,
        "wires": []
    }
] 